body {
    font-family: Lato, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

.background-container { 
    background-image: url('src/assets/bgimage.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

#navbar {
    margin-top: 2.5rem;
    width: 100vw;
    font-weight: bold;
    letter-spacing: 1px;
}
#navbar ul {
    list-style: none;
    margin: 1px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1em 0;
}
#navbar li a {
    text-decoration: none;
    color: rgb(153, 144, 144);
    padding-right: 3em;
    position: relative;
    transition: all ease-in-out 250ms;
}
#navbar li a::after {
    content: "";
    position: absolute;
    display: block;
    height: 0.4em;
    width: 0%;
    background-color: rgb(124, 199, 218);
    top: -1em;
    transition: all ease-in-out 250ms;
    text-decoration: underline;
}
#navbar li a:hover::after {
    width: 60%;
}
#navbar li a:hover {
    color: var(--pink);
}
#navbar li:first-child {
    margin-right: auto;
    margin-left: 3em;
}