<div class="background-container">
<div id='navbar'>
    <ul>
        <li><a href="#">DEMO APP</a></li>
        <li><a href="#">HOME</a></li>
        <li><a href="#">ABOUT US</a></li>
        <li><a href="#">JOBS</a></li>
        <li><a href="#">CLIENTS</a></li>
        <li><a href="#">EMPLOYERS</a></li>
        <li><a href="#">CONTACT US</a></li>

    </ul>

    <div class="container" style="width: 50%;">
        <h1 class="profile mt-5 ">Profile</h1>
        <div class="row">
           <div class="col-sm-6">
             <div class="card">
               <div class="card-body">
                 <h5 class="card-title">Card title</h5>
                 <p class="card-text" style="width: 50%;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                 <button href="#" class="btn btn-primary">Edit Photo</button>
                 <button class="btn btn-primary ml-4">Edit Profile</button>

               </div>
             </div>
           </div>
           <div class="col-sm-6">
             <div class="card">
               <div class="card-body">
                 <h5 class="card-title">Card title</h5>
                 <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                 <a href="#" class="btn btn-primary">Go somewhere</a>
               </div>
             </div>
           </div>
        </div>
       </div>
</div>
</div>